html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    background-color: aliceblue;
}

body {
    margin-bottom: 60px;
    background-color: transparent;
}

.custom-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
}

    .custom-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 9px 20px rgba(0,0,0,0.2);
        background-color: #f8ffff;
    }

.image-nav {
    height: 50px;
    width: 50px;
    border-radius: 12px;
}

.login-container {
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 12px 15px 36px gray;
}

.custom-nav {
    background: linear-gradient(45deg, #258cfb, #2575fa)
}
